<div class="containter">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progress [progressValue]="progress"></app-progress>
            </div>
            <div class="col-sm-6">
                <app-try></app-try>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>{{ title }}</h6>
                <p>{{ currentPhrase.englishPhrase }}</p>
                <div class="form-group">
                    <textarea class="form-control" rows="3" (input)="updateText($event)" [value]="responseText"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                     <button type="button" class="btn btn-primary" (click)="checkText()">Verificar</button>
                </div>
            </div>
        </div>

    </div>
</div>
